<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <listener>
        <listener-class>org.nick.wwwjdic.app.kanjivg.GuiceContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Servlets -->
    <servlet>
        <servlet-name>greetServlet</servlet-name>
        <servlet-class>org.nick.wwwjdic.app.server.GreetingServiceImpl</servlet-class>
    </servlet>
    <!-- 
    <servlet>
        <servlet-name>KanjiStrokesServlet</servlet-name>
        <servlet-class>org.nick.wwwjdic.app.kanjivg.KanjiStrokesServlet</servlet-class>
    </servlet>
    -->
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>org.nick.wwwjdic.app.kanjivg.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoteApiServlet</servlet-name>
        <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KanjiVgImporterServlet</servlet-name>
        <servlet-class>org.nick.wwwjdic.app.kanjivg.KanjiVgImporterServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>UpdateStrokesServlet</servlet-name>
        <servlet-class>org.nick.wwwjdic.app.kanjivg.UpdateStrokesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>greetServlet</servlet-name>
        <url-pattern>/wwwjdic_android/greet</url-pattern>
    </servlet-mapping>
    <!-- 
    <servlet-mapping>
        <servlet-name>KanjiStrokesServlet</servlet-name>
        <url-pattern>/kanji/*</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoteApiServlet</servlet-name>
        <url-pattern>/remote_api</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KanjiVgImporterServlet</servlet-name>
        <url-pattern>/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStrokesServlet</servlet-name>
        <url-pattern>/update-strokes</url-pattern>
    </servlet-mapping>
    
    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Wwwjdic_android.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>admin-only</display-name>
        <web-resource-collection>
            <web-resource-name>main</web-resource-name>
            <url-pattern>/wwwjdic_android*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>upload</web-resource-name>
            <url-pattern>/upload*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>welcome</web-resource-name>
            <url-pattern>/Wwwjdic_android.html</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>import</web-resource-name>
            <url-pattern>/import</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>remoteapi</web-resource-name>
            <url-pattern>/remote_api</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>update-strokes</web-resource-name>
            <url-pattern>/update-strokes</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>kanjview</web-resource-name>
            <url-pattern>/kanjiview*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admin</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
</web-app>
