<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.nick.wwwjdic" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name=".Wwwjdic" android:label="@string/app_name"
			android:screenOrientation="sensor" android:windowSoftInputMode="stateVisible|adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ResultListView" android:label="Search result">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="org.nick.hello.VIEW_LIST" />
			</intent-filter>
		</activity>

	<activity android:name="DictionaryEntryDetail"></activity>
<activity android:name="KanjiResultListView"></activity>
</application>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-sdk android:minSdkVersion="3"></uses-sdk>
<instrumentation android:targetPackage="org.nick.hello" android:name="android.test.InstrumentationTestRunner"></instrumentation>
</manifest> 