<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nick.wwwjdic" android:installLocation="auto"
    android:versionCode="29" android:versionName="1.62">
    <application android:icon="@drawable/icon"
        android:label="@string/app_name" android:debuggable="false"
        android:name="org.nick.wwwjdic.WwwjdicApplication">
        <activity android:name="org.nick.wwwjdic.Wwwjdic"
            android:label="@string/app_name_short"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.nick.wwwjdic.Dictionary"></activity>
        <activity android:name="org.nick.wwwjdic.KanjiLookup"></activity>
        <activity android:name="org.nick.wwwjdic.ExampleSearch"></activity>

        <activity android:name="org.nick.wwwjdic.AboutActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="org.nick.wwwjdic.DictionaryResultListView"
            android:label="@string/searching" android:configChanges="orientation|keyboardHidden|keyboard">
        </activity>
        <activity android:name="org.nick.wwwjdic.DictionaryEntryDetail"></activity>
        <activity android:name="org.nick.wwwjdic.KanjiResultListView"
            android:label="@string/searching" android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="org.nick.wwwjdic.ExamplesResultListView"
            android:label="@string/searching" android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="org.nick.wwwjdic.SentenceBreakdown"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="org.nick.wwwjdic.KanjiEntryDetail"
            android:taskAffinity=""></activity>
        <activity android:name="org.nick.wwwjdic.RadicalChart"></activity>
        <activity android:name="org.nick.wwwjdic.WwwjdicPreferences"></activity>
        <activity android:name="org.nick.wwwjdic.ocr.OcrActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="org.nick.wwwjdic.ocr.crop.CropImage"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="org.nick.wwwjdic.hkr.RecognizeKanjiActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.nick.wwwjdic.hkr.HkrCandidates"></activity>
        <activity android:name="org.nick.wwwjdic.history.Favorites"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="org.nick.wwwjdic.history.SearchHistory"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="org.nick.wwwjdic.history.FavoritesAndHistory"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="org.nick.wwwjdic.sod.SodActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
            
        <activity android:name="org.nick.wwwjdic.widgets.KodWidgetConfigure" 
            android:label="@string/kod_widget_configuration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>      

        <receiver android:name="org.nick.wwwjdic.widgets.KodWidgetProvider"
            android:label="@string/kanji_of_the_day">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/kod_widget_info" />
        </receiver>
        <service android:name="org.nick.wwwjdic.widgets.GetKanjiService" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-sdk android:minSdkVersion="3"
        android:targetSdkVersion="8" />
</manifest> 
