<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nick.wwwjdic">
    <!--
        package="org.nick.wwwjdic" android:versionCode="13"
        android:versionName="1.1">
    -->
    <!--
        <application android:icon="@drawable/icon"
        android:label="@string/app_name" android:debuggable="true"
        android:name="WwwjdicApplication">
    -->
    <application android:name="WwwjdicApplication">
        <activity android:name=".Wwwjdic" android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <!--
                <intent-filter> <action
                android:name="android.intent.action.MAIN" /> <category
                android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            -->
        </activity>
        <activity android:name="Dictionary"></activity>
        <activity android:name="KanjiLookup"></activity>
        <activity android:name="ExampleSearch"></activity>
        
        <activity android:name=".AboutActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name=".DictionaryResultList"
            android:label="@string/searching" android:configChanges="orientation|keyboardHidden|keyboard">
        </activity>
        <activity android:name="DictionaryEntryDetail"></activity>
        <activity android:name=".KanjiResultList"
            android:label="@string/searching" android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name=".ExamplesResultList"
            android:label="@string/searching" android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="SentenceBreakdown"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name="KanjiEntryDetail"></activity>
        <activity android:name="RadicalChart"></activity>
        <activity android:name="WwwjdicPreferences"></activity>
        <activity android:name=".ocr.OcrActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name=".ocr.crop.CropImage"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name=".hkr.RecognizeKanjiActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name=".hkr.HkrCandidates"></activity>
        <activity android:name=".history.Favorites"></activity>
        <activity android:name=".history.SearchHistory"></activity>
        <activity android:name=".history.FavoritesAndHistory"></activity>
        <activity android:name=".sod.SodActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>
        <activity android:name=".widget.KodWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>
        <activity android:name="krad.KradChart"
            android:configChanges="orientation|keyboardHidden|keyboard"></activity>    
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <uses-sdk android:minSdkVersion="3"
        android:targetSdkVersion="13" />
</manifest> 
